$borderColor: #eee;

.userGuide {
  &Mask,
  &Modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .7);
    z-index: 1;
    padding: 10px;
  }

  &Modal {
    &Header {
      margin: 0;
    }

    &Content {
      max-width: 500px;
      margin: 35vh auto;
      padding: 25px;
      background-color: #fff;
    }
  }


  &Message {
    position: absolute;
    top: -10000px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid $borderColor;

    &:after {
      content: '';
      height: 10px;
      width: 10px;
      background-color: #fff;
      position: absolute;
      transform: rotate(45deg);
    }


    &Title {
      margin: 0 0 5px;
    }

    &Body {
      margin: 0 0 15px;
    }

    &east {
      &:after {
        left: -6px;
        top: 50%;
        margin-top: -5px;
        border-left: 1px solid $borderColor;
        border-bottom: 1px solid $borderColor;
      }
    }

    &west {
      &:after {
        right: -6px;
        top: 50%;
        margin-top: -5px;
        border-right: 1px solid $borderColor;
        border-top: 1px solid $borderColor;
      }
    }

    &north {
      text-align: center;

      &:after {
        left: 50%;
        bottom: -6px;
        margin-left: -5px;
        border-right: 1px solid $borderColor;
        border-bottom: 1px solid $borderColor;
      }
    }

    &south {
      text-align: center;

      &:after {
        left: 50%;
        top: -6px;
        margin-left: -5px;
        border-left: 1px solid $borderColor;
        border-top: 1px solid $borderColor;
      }
    }
  }
}
